
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
 margin: 0;
 padding: 0;
 }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
}

h1 {
font-family: Arial, sans-serif;   
color: #333;
text-align: center;
}

p {
  font-family: Arial, sans-serif;   
color: #df1c1c;
text-align: center; 
margin:0; 
}

h2{
font-family: Arial, sans-serif;   
color: #333;
text-align: center;  
}

.hero {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  

form {
background-color: #fff;
			padding: 20px;
			margin: 0 auto;
			width: 400px;
			border-radius: 5px;
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
		}


        
input[type=text],
input[type=email],
button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #444;
}

